<!-- catalog/includes/lower_menu.html -->
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; {% now 'Y' %} - iStore - магазин техники Apple</small>
            </div>
            <div class="col-6 col-md">
                <h5>Навигация</h5>
                <ul class="list-unstyled text-small">
                    <li><a href="{% url 'mailing:index' %}" class="text-dark">Главная</a></li>
                    <li><a href="{% url 'blog:blog_list' %}" class="text-dark">Блог</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Профиль</h5>
                <ul class="list-unstyled text-small">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' %}" class="text-dark">Профиль</a></li>
                        <li>
                            <form method="post" action="{% url 'users:logout' %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="text-dark" style="padding: 0; border: none; background: none;">Выйти</button>
                            </form>
                        </li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}" class="text-dark">Вход</a></li>
                        <li><a href="{% url 'users:register' %}" class="text-dark">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Рассылки</h5>
                        <li><a href="{% url 'mailing:mailings_list' %}" class="text-dark">Список рассылок</a></li>
                        <li><a href="{% url 'mailing:messages_list' %}" class="text-dark">Список сообщений</a></li>
                        <li><a href="{% url 'mailing:clients_list' %}" class="text-dark">Список клиентов</a></li>
                        <li><a href="{% url 'mailing:logs_list' %}" class="text-dark">Попытки рассылок</a></li>
                        {% if perms.users.view_all_users or user.is_superuser %}
                        <li><a href="{% url 'users:users_list' %}" class="text-dark">Список пользователей</a></li>
                        {% endif %}
                <ul class="list-unstyled text-small">
                </ul>
            </div>
        </div>
    </div>
</footer>