<head>
    <title>Просмотр блога</title>
</head>
{% load static %}
{% load my_tags %}
{% block content %}
{% include 'blog/includes/upper_menu.html' %}
<section class="jumbotron text-center bg-white text-dark py-4">
    <div class="container">
        <h1 class="jumbotron-heading mb-4">Просмотр блога</h1>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-sm">
                    {% if object.image %}
                    <img src="{{ object.image.url }}" class="card-img-top img-fluid" alt="{{ object.title }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">Название: {{ object.title }}</p>
                        <p class="card-text">Описание: {{ object.content }}</p>
                        <p class="card-text">Дата создания: {{ object.created_at }}</p>
                        <p class="card-text">Создатель:{{ object.owner }}</p>
                        <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Назад</a>
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.views_count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% include 'blog/includes/lower_menu.html' %}
{% endblock %}
