<head>
    <title>Удаление блога</title>
</head>
{% include 'blog/includes/upper_menu.html' %}
{% load static %}
{% block content %}
<section class="jumbotron text-center bg-white text-dark py-4">
    <div class="container">
        <h1 class="jumbotron-heading mb-4">Удаление блога</h1>
    </div>
</section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <p class="card-text">Действительно хотите удалить: {{ object.title }}</p>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Удалить</button>
                        <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% include 'blog/includes/lower_menu.html' %}
{% endblock %}
